@{
    ViewData["Title"] = "Home Page";
}

  <section id="contact">
    <div class="container-lg">
      <div class="text-center">
        <h2>Entre em contato para saber mais!</h2>
        <p class="lead">Deseja obter mais informações sobre o nosso produto? Entre em contato conosco.</p>
      </div>
      <div class="row justify-content-center my-5">
        <div class="col-lg-6">
          <form>
            <label for="email" class="form-label">E-mail:</label>
            <div class="input-group">
              <span class="input-group-text input-group-sm mb-3">
                <i class="bi bi-envelope-fill"></i>
              </span>
              <input type="email" class="form-control  mb-3" id="email" placeholder="Digite seu e-mail..." required> 
            </div>


            <label for="nome" class="form-label ">Nome:</label>
            <div class="input-group ">
              <span class="input-group-text input-group-sm mb-3" id="inputGroup-sizing-sm">
                <i class="bi bi-person-fill"></i>
              </span>
              <input type="text" class="form-control mb-3" id="nome" placeholder="Digite seu nome..." required>
            </div>

            <label for="subject" class="form-label">Sobre o que deja falar?</label>
            <div class="input-group ">
              <span class="input-group-text input-group-sm mb-3" id="inputGroup-sizing-sm">
                <i class="bi bi-chat-right-dots-fill"></i>
              </span>
              <select class="form-select mb-3" id="subject" placeholder="Selecione o assunto" required>
                <option value="preco" selected>Valores da plataforma</option>
                <option value="acesso" selected>Como acessar minha conta</option>
                <option value="contato" selected>Desejo o contato de um especialista</option>
                <option value="presenca" selected>Em quais escolas estamos presentes</option>
                <option value="outro" selected>Outros assuntos</option>
              </select>
            </div>
            <label for="diverso">Deixe aqui sua mensagem:</label>
            <div class="form-floating mt-1">
              <textarea class="conteudo-textarea p-2" id="diverso" placeholder="Digite sua mensagem..." required></textarea>              
            </div>
            <div class="mb4 mt-4 text-center">
              <button type="submit" class="btn btn-primary">Enviar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>