/* Configurações gerais */
body, html {
    font-family: "Roboto", sans-serif;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn {
    font-weight: 500;
}
.btn-primary {
    background-color: blueviolet;
    border-color: blueviolet;
}

.btn-primary:hover {
    background-color: blue;
    border-color: blue;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.word-wrap-break-anywhere {
    word-wrap: anywhere;
}

.font-size-12px {
    font-size: 12px;
}
.conteudo-textarea {
    width: 100%;
    height: 240px;
}

.caixa-itens-listados {
    border: 1px solid;
    border-radius: 6px;
    background-color: #f0f0f0;
    border-color: lightgray;
    padding: 4px 6px 4px 6px;
    margin: 4px;
}

.mensagem-email {
    border: 1px solid;
    border-radius: 6px;
    padding: 12px;
    margin: 6px;
}

#tela-responder-mensagem {
    background-color: white;
    border: 1px solid;
    border-radius: 6px;
    padding: 12px;
    position: fixed;
    bottom: 0px;
    right: 32px;
    width: 640px;
    display: none;
}

.contador-circular {
    display: inline-block;
    position: relative;
    text-align: center;
    color: white;
    background-color: dodgerblue;
    padding-top: 1px;
    height: 25px;
    width: 25px;
    margin: 0;
    border-radius: 100%;
}

.mensagem-table-space {
    white-space: nowrap;
    width: 22vw;
    overflow: hidden;
}

.nao-lido-spacer {
    text-align: center;
    width: 180px;
}

.menu-content-layout {
    display: grid;
    grid-template-columns: 240px 1fr;
}

.menu-lateral {
    position: sticky;
    margin-top: 32px;
    top: 16px;
    border: 1px solid rgba(0,0,0,.250);
    border-radius: 5px;
    background-color: white;
    min-height: 450px;
}

.menu-lateral li:hover {
    background-color: lightgray;
    transition-duration: 0.25s;
}

.item-menu-selecionado {
    background-color: wheat;
}

.login-box {
    margin: auto;
    margin-top: 90px;
    margin-bottom: 270px;
    width: 360px;
    padding: 24px;
    border: 1px solid rgba(0,0,0,.250);
    border-radius: 5px;
    box-shadow: 10px 5px 5px 2px rgba(0, 0, 0, 0.2);
}
/* Header */
#header {
    width: 100%;
    background-color: rgb(225, 199, 250);
}

#header .navbar-collapse {
    width: auto;
}

#header .nav-link {
    font-weight: 500;
    padding: 0;
    color: black;
    margin: 15px;
}

#header .nav-link:hover {
    color: rgb(127, 15, 231);
}

#logo {
    width: 100px;
    height: 80px;
}

#login-btn {
    display: inline-block;
    width: fit-content;
    font-weight: 500;
    margin: auto;
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: blueviolet;
    border-color: blueviolet;
}

#login-btn:hover {
    background-color: blue;
    border-color: blue;
}

.login-btn-center {
    font-weight: 500;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-left: 50px;
    background-color: blueviolet;
    border-color: blueviolet;
}
