html {
    scroll-behavior: auto;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.word-wrap-break-anywhere {
    word-wrap: anywhere;
}

.font-size-12px {
    font-size: 12px;
}
.conteudo-textarea {
    width: 100%;
    height: 240px;
}

.caixa-itens-listados {
    border: 1px solid;
    border-radius: 6px;
    background-color: #f0f0f0;
    border-color: lightgray;
    padding: 4px 6px 4px 6px;
    margin: 4px;
}

.mensagem-email {
    border: 1px solid;
    border-radius: 6px;
    padding: 12px;
    margin: 6px;
}

#tela-responder-mensagem {
    background-color: white;
    border: 1px solid;
    border-radius: 6px;
    padding: 12px;
    position: fixed;
    bottom: 0px;
    right: 32px;
    width: 640px;
    display: none;
}

.contador-circular {
    display: inline-block;
    position: relative;
    text-align: center;
    color: white;
    background-color: dodgerblue;
    height: 24px;
    width: 24px;
    margin: 0;
    border-radius: 100%;
}

.mensagem-table-space {
    white-space: nowrap;
    width: 30vw;
    overflow: hidden;
}

.nao-lido-spacer {
    text-align: center;
    width: 180px;
}

.menu-content-layout {
    display: grid;
    grid-template-columns: 240px 1fr;
}

.menu-lateral {
    position: sticky;
    margin-top: 32px;
    top: 16px;
    border: 1px solid rgba(0,0,0,.250);
    border-radius: 5px;
    background-color: white;
    min-height: 450px;
}

.menu-lateral li:hover {
    background-color: lightgray;
    transition-duration: 0.25s;
}

.item-menu-selecionado {
    background-color: wheat;
}
