/* Configurações gerais */
body, html {
    font-family: "Roboto", sans-serif;
}

html {
  font-size: 16px;
}

@media (max-width: 768px) {
  html {
    font-size: 14px;
  }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.btn {
    font-weight: 500;
}
.btn-primary {
    background-color: blueviolet;
    border-color: blueviolet;
}

.btn-primary:hover {
    background-color: blue;
    border-color: blue;
}

.btn-transparent {
    background-color: none;
    border: 0px;
}

.btn-transparent:hover {
    background-color: none;
    border: 0px;
}

li.active.page-item .page-link {
    background-color: blueviolet;
    border-color: blueviolet;
}

.word-wrap-break-anywhere {
    word-wrap: anywhere;
}

.text-center {
    text-align: center;
}
.font-size-12px {
    font-size: 12px;
}

.conteudo-textarea {
    width: 100%;
    height: 240px;
}

.caixa-itens-listados {
    border: 1px solid;
    border-radius: 6px;
    background-color: #f0f0f0;
    border-color: lightgray;
    padding: 4px 6px 4px 6px;
    margin: 4px;
}

.mensagem-email {
    border: 1px solid;
    border-radius: 6px;
    padding: 12px;
    margin: 6px;
}

@media (max-width: 1199px) {
    .mensagem-email {
        min-width: 70vw;
        margin: auto;
        margin-bottom: 6px;
        margin-top: 6px;
    }
}

#tela-responder-mensagem {
    background-color: white;
    border: 1px solid;
    border-radius: 6px;
    padding: 12px;
    position: fixed;
    bottom: 0px;
    right: 32px;
    width: 640px;
    display: none;
}

.contador-circular {
    display: inline-block;
    position: relative;
    text-align: center;
    color: white;
    background-color: dodgerblue;
    padding-top: 1px;
    height: 25px;
    width: 25px;
    margin: 0;
    border-radius: 100%;
}

.mensagem-table-space {
    white-space: nowrap;
    width: 22vw;
    overflow: hidden;
}

.nao-lido-spacer {
    text-align: center;
    width: 180px;
}
.nao-lido-minimizado {
    display: none;
}
@media (max-width: 1599px) {
    .mensagem-table-space {
        white-space: initial;
    }
}

@media (max-width: 1199px) {
    .mensagem-table-space {
        width: 35vw;
    }
}

@media (max-width: 991px) {
    .mensagem-table-space {
        width: 22vw;
    }
}

@media (max-width: 768px) {
    .mensagem-table-space {
        width: 43vw;
    }
    .nao-lido-spacer {
        width: 1px;
        display: none;
    }
    .nao-lido-minimizado {
        text-align: center;
        display: block;
        margin-bottom: 4px;
    }

}

.menu-content-layout {
    display: grid;
    grid-template-columns: 240px 1fr;
}

.menu-lateral {
    position: sticky;
    margin-top: 32px;
    top: 16px;
    background-color: white;
}

.menu-lateral li:hover {
    background-color: lightgray;
    transition-duration: 0.25s;
}
.item-menu-first {
    border: 1px solid lightgray;
    list-style: none;
    padding: 4px;
    border-radius: 4px;
}

.item-menu {
    border: 1px solid lightgray;
    list-style: none;
    padding: 4px;
    border-radius: 4px;
    border-top: none;
}

.item-menu-selecionado {
    background-color: wheat;
}
@media (max-width: 1199px) {
    .menu-content-layout {
        display: block;
        margin: auto;
    }
    .menu-lateral ul {
        display: flex;
        flex-direction: row;
        margin: auto;
        justify-content: center;
    }
    .menu-lateral li {
        display: inline;
    }
    .item-menu {
        border: 1px solid lightgray;
        list-style: none;
        padding: 4px;
        border-radius: 4px;
        border-left: none;
    }
}

.login-box {
    margin: auto;
    margin-top: 90px;
    margin-bottom: 270px;
    width: 360px;
    padding: 24px;
    border: 1px solid rgba(0,0,0,.250);
    border-radius: 5px;
    box-shadow: 10px 5px 5px 2px rgba(0, 0, 0, 0.2);
}
/* Header */
#header {
    width: 100%;
    background-color: rgb(225, 199, 250);
}

#header .navbar-collapse {
    width: auto;
}

#header .nav-link {
    font-weight: 500;
    padding: 0;
    color: black;
    margin: 15px;
}

#header .nav-link:hover {
    color: rgb(127, 15, 231);
}

#logo {
    width: 100px;
    height: 80px;
}

#login-btn {
    display: inline-block;
    width: fit-content;
    font-weight: 500;
    margin: auto;
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: blueviolet;
    border-color: blueviolet;
}

#login-btn:hover {
    background-color: blue;
    border-color: blue;
}

.login-btn-center {
    font-weight: 500;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-left: 50px;
    background-color: blueviolet;
    border-color: blueviolet;
}

/* Home page */

#slider {
    background-color: transparent;
}

    #slider h1 {
        font-weight: 900;
    }

    #slider h4 {
        font-size: 18px;
    }

#contato {
    background-color: rgb(225, 199, 250);
}

    #contato .logo-footer {
        width: 100px;
    }

    #contato .contato-footer {
        display: flex;
        width: auto;
        justify-content: flex-end;
    }

    #contato ul {
        margin-left: 0;
        padding: 0;
        display: flex;
        justify-content: flex-end;
    }

        #contato ul li {
            display: flex;
            list-style-type: none;
            margin-left: 25px;
        }

@media (max-width: 991.98px) {
    #header .navbar-collapse {
        width: 100%;
        margin: 0;
    }

    #login-btn {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .login-btn-center {
        display: block;
        margin-right: auto;
        width: 100px;
    }

    #contato ul {
        display: block;
        list-style-type: none;
        margin-left: 25px;
    }
}

/* */

/* Bootstrap dropdown fix */

.dropdown-fix {
    position: absolute;
    margin-top: 21px;
}

.dropdown-menu-fix {
    position: relative;
    right: 0;
    margin: 0px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid lightgray;
    padding: 4px;
}



.nav-tabs .dropdown-menu, .nav-pills .dropdown-menu, .navbar .dropdown-menu {
    position: relative;
    right: 0;
    margin-top: 0;
    width: 64px;
}    

/* */

.center-pagina-sem-menu {
    width: 600px;
    max-width: 91vw;
    margin: auto;
}

.botoes-conversa {
    display: flex;
}
@media (max-width: 768px) {
    .botoes-conversa {
        display: block;
        margin: 0;
        padding: 0;
    }

    .botoes-conversa a, .botoes-conversa button {
        width: 80px;
        margin: 0px;
        padding: 2px;
        margin-top: 8px;
        margin-bottom: 8px;
    }

}