@using System.Security.Claims

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - App_comunicacao_escolar</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/App_comunicacao_escolar.styles.css" asp-append-version="true" />
</head>

@{
    int GetIdUsuarioLogado()
    {
        if (User.Identity.IsAuthenticated)
        {
            ClaimsPrincipal currentUser = User;
            return Int32.Parse(currentUser.FindFirst(ClaimTypes.NameIdentifier).Value);
        }
        return -1;
    }
    ViewData["Controller"] = ViewContext.RouteData.Values["controller"].ToString();
}
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">App_comunicacao_escolar</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav">
                        @if(User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                 Olá, @User.Identity.Name
                                 <a class="nav-link text-dark" asp-area="" asp-controller="Usuarios" asp-action="Logout">Sair</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                 <a class="nav-link text-dark" asp-area="" asp-controller="Usuarios" asp-action="Login">Login</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <a hidden id="refreshPartial" class="btn btn-primary" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#msgupdate" href="/Home/UpdateMsg"></a>
    <div class="container" >
        <main role="main" class="pb-3 ">
            @if (ViewData["Controller"].Equals("PaginaComLayoutDiferente")) {
                <div class="p-4">@RenderBody()</div>
            }
            else 
            {
                <div class="menu-content-layout">
                    <div>
                        <div class="menu-lateral">
                            <ul class="list-group">
                                @if(ViewData["Controller"].Equals("Usuarios"))
                                {
                                    <li class="p-0 list-group-item item-menu-selecionado">
                                        <a class="p-3 nav-link text-dark" asp-area="" asp-controller="Usuarios" asp-action="Index">Cadastrar usuários</a>
                                    </li>
                                }
                                else{
                                    <li class="p-0 list-group-item ">
                                        <a class="p-3 nav-link text-dark" asp-area="" asp-controller="Usuarios" asp-action="Index">Cadastrar usuários</a>
                                    </li>
                                }

                                @if(ViewData["Controller"].Equals("Conversas"))
                                {
                                    <li class="p-0 list-group-item item-menu-selecionado )">
                                        <a class="p-3 nav-link text-dark" asp-area="" asp-controller="Conversas" asp-action="Index">Mensagens
                                            <span id="msgupdate">
                                                @await Component.InvokeAsync("ContadorDeMensagensNovas", GetIdUsuarioLogado())
                                            </span>
                                        </a>
                                    </li>
                                }
                                else{
                                    <li class="p-0 list-group-item )">
                                        <a class="p-3 nav-link text-dark" asp-area="" asp-controller="Conversas" asp-action="Index">Mensagens
                                            <span id="msgupdate">
                                                @await Component.InvokeAsync("ContadorDeMensagensNovas", GetIdUsuarioLogado())
                                            </span>
                                        </a>
                                    </li>
                                }
                                

                            </ul>
                        </div>
                    </div>
                    <div class="p-4">@RenderBody()</div>
                </div>
            }
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - App_comunicacao_escolar - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery/dist/js/jquery.min.js"></script>
    <script src="~/lib/jquery-unobtrusive-ajax/jquery.unobtrusive-ajax.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>