@model App_comunicacao_escolar.Models.Mensagem

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>ConversaAAAA</h4>
<hr />
<div class="row">

</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
