* {
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
}

.calendario {
  text-align: center;
}

h2 {
  margin-top: 20px;
  font-size: 32px;
  text-transform: uppercase;
}

.btn-ant,
.btn-pro {
  position: absolute;
  top: 50%;
  height: 32px;
  width: 32px;
  line-height: 32px;
  margin-top: -300px;
  border: 2px solid #cbd1d2;
  border-radius: 50%;
  color: #cbd1d2;
  font-size: 16px;
  font-weight: bold;
}

.btn-ant {
  left: 80px;
}

.btn-pro {
  right: 80px;
}

.btn-ant:hover,
.btn-pro:hover {
  background: #cbd1d2;
  color: #f9f9f9;
}

.calendario thead {
  background: white;
  font-weight: 600;
  text-transform: uppercase;
}

.calendario td {
  border: 1px solid #cbd1d2;
  height: 71.4px;
  text-align: center;
  width: 71.4px;
}

.calendario tbody td {
  cursor: pointer;
}

.calendario tbody td:hover {
  background: purple;
  color: #f9f9f9;
}

.calendario table .dia-atual {
  background: purple;
  color: #f9f9f9;
}

.calendario .mes-anterior,
.calendario .proximo-mes {
  color: #cbd1d2;
}

.calendario .mes-anterior:hover,
.calendario .proximo-mes:hover {
  background: #98a0a0;
}

.event {
  position: relative;
}

.event::after {
  content: "";
  width: 7px;
  height: 7px;
  left: 50%;
  bottom: 7px;
  margin: -3.5px 0 0 -3.5px;
  background: #00addf;
  display: block;
  position: absolute;
  border-radius: 50%;
}

.event:hover::after {
  background: #f9f9f9;
}

.event.dia-atual:after {
  background: #f9f9f9;
}
