@import url(./bootstrap.min.css);

body,
html {
  font-family: "Roboto", sans-serif;
}

.bg-primary-color {
  background-color: rgb(225, 199, 250);
}
.bg-secondary-color {
  background-color: rgb(210, 165, 252);
}

.primary-color {
  color: #050505;
}

.secondary-color {
  color: rgb(127, 15, 231);
}

#navbar {
  width: 100%;
  background-color: rgb(225, 199, 250);
}

#header .navbar-collapse {
  width: auto;
}

#header .nav-link {
  font-weight: 500;
  padding: 0;
  color: black;
  margin: 15px;
}
#header .nav-link:hover {
  color: rgb(127, 15, 231);
}

#logo {
  width: 100px;
  height: 80px;
}
#perfil-btn {
  font-weight: 500;
  margin-left: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: blueviolet;
  border-color: blueviolet;
}
#emailEnvelope {
  margin-left: auto;
}
#perfil-btn:hover {
  background-color: blue;
  border-color: blue;
}

#slider {
  background-color: transparent;
  margin-top: 8em;
  margin-bottom: 5em;
}
#slider h1 {
  font-weight: 900;
}
#slider h4 {
  font-size: 18px;
}

#mainSlider {
  margin-top: 15px;
}

.carousel-control-prev,
.carousel-control-next {
  color: #111;
  font-size: 3em;
  cursor: pointer;
}

.carousel-indicators [data-bs-target] {
  background-color: #222;
  opacity: 0.8;
}
.carousel-indicators .active {
  background-color: rgb(225, 199, 250);
}

#info-content {
  margin-bottom: 4em;
  padding: 3.5em;
}

#info-numbers {
  margin: 1.5em 0;
}

#info-numbers h3 {
  font-size: 2.5em;
}

#info-banner {
  display: flex;
  align-items: center;
  margin-bottom: 2.5em;
}

#footer {
  background-color: rgb(225, 199, 250);
  color: #050505;
  padding-top: 1.5em;
}

#footer-details {
  margin-bottom: 1.5em;
}

#news-container,
#contact-container,
#links-container {
  padding: 0;
  border: 0;
}

#news-container input {
  border-radius: 2px;
  border: none;
  width: 21em;
}

#links-container li {
  margin-bottom: 0.5em;
}

#links-container a {
  text-decoration: none;
}

#links-container a:hover {
  color: #050505;
}

#footer-bottom {
  padding: 0;
  border: 0;
}

#footer-bottom i {
  color: #050505;
  margin-left: 0.3em;
}

@media (max-width: 991.98px) {
  #header .navbar-collapse {
    width: 100%;
    margin: 0;
  }
  #perfil-btn {
    display: block;
    margin-left: 0.8rem;
    margin-right: auto;
  }
  .login-btn-center {
    display: block;
    margin-right: auto;
    width: 100px;
  }
  #contato ul {
    display: block;
    list-style-type: none;
    margin-left: 25px;
  }
}
