@model IEnumerable<App_comunicacao_escolar.Models.AlunoLinhaDoTempo>

@{
    ViewData["Title"] = "Linhas do tempo de alunos";
}

<h1>Linhas do tempo de alunos</h1>
<h2>Selecionar aluno</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Aluno)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Aluno.NomeAlunoComCodigoEntreParenteses)
            </td>
            <td>
                <a class="btn btn-primary" asp-action="Visualizar" asp-route-id="@item.Id">Visualizar</a>
            </td>
        </tr>
}
    </tbody>
</table>
@if (Model.Count() == 0)
{   
    <div class="col-12 m-2 alert-warning p-3 text-center">Nenhuma linha do tempo encontrada</div>
}