@model App_comunicacao_escolar.Models.PostagemLinhaDoTempo

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>PostagemLinhaDoTempo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Assunto" class="control-label"></label>
                <input asp-for="Assunto" class="form-control" />
                <span asp-validation-for="Assunto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Conteudo" class="control-label"></label>
                <input asp-for="Conteudo" class="form-control" />
                <span asp-validation-for="Conteudo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CodigoImagemPostada" class="control-label"></label>
                <input asp-for="CodigoImagemPostada" class="form-control" />
                <span asp-validation-for="CodigoImagemPostada" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LinhaDoTempoId" class="control-label"></label>
                <select asp-for="LinhaDoTempoId" class="form-control" asp-items="ViewBag.LinhaDoTempoId"></select>
                <span asp-validation-for="LinhaDoTempoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

